#!/usr/bin/env python
# import libs
import datetime
# Static variables

# Primary webserver configuration file
# IP address to listening on
LISTEN_IP='0.0.0.0'
# Port to listen on
LISTEN_PORT='8080'
# HTTP Methods to Accept
HTTP_METHODS='GET','POST','PUT','DELETE','CONNECT'
# Webb applciation root directory
WEBAPP_ROOT='../../web_app_php/'
#WEBAPP_ROOT='../../web_app_other/'
# HTTP Requests log location
LOG_REQUEST_GOOD='../../web_var/logs/requests_good.log'
# HTTP Bad log location
LOG_REQUEST_BAD='../../web_var/logs/requests_bad.log'
# Concurrent Connections
CONNECTIONS = '10'
# DEFAULT Root Page: should be set by default
DEFAULT_ROOT_PAGE = 'index.php'