#!/usr/bin/env python
# Static variables
HTTP_VERSION_SUPPORT = 'HTTP/1.1'
# DEFAULT ENV Variables
DEFAULT_HOST='127.0.0.1'
DEFAULT_CGI='CGI/1.1'
DEFAULT_SERVERNAME='KEEP OUT'
DEFAULT_SERVERSOFTWARE='CSEC 731: Assignment 1'
#DEFAULT_SERVERADDR =''
#DEFAULT_SERVERPORT =''
# Bash export mappings
CGI_BASH_MAP=[
    ['Host','HTTP_HOST'],
    ['Connection', 'HTTP_CONNECTION'],
    ['Cache-Control', 'HTTP_CACHE_CONTROL'],
    ['User-Agent', ' HTTP_USER_AGENT'],
    ['Accept', 'HTTP_ACCEPT'],
    ['Accept-Encoding', 'HTTP_ACCEPT_ENCODING'],
    ['Accept-Language', 'HTTP_ACCEPT_LANGUAGE'],
    ['Set-Cookie','HTTP_SET_COOKIE'],
    ['Cache-Control','HTTP_SESSION_VARS'],
    ['Pragma','HTTP_PRAGMA'],
    ['Content-Type','CONTENT_TYPE'],
    ['Request','QUERY_STRING'],
    ['Referer','HTTP_REFERER'],
    ['Content-Length','CONTENT_LENGTH'],
    ['Cookie','HTTP_COOKIE'],
    ['Remote-User','REMOTE_USER'],
    ['Proxy-Authorization','HTTP_PROXY_AUTHORIZATION'],
    ['Proxy-Connection','HTTP_PROXY_CONNECTION']
]
#['Expires','HTTP_EXPIRES'],
# Response Codes
RESPONSE_CODES={
    '200':'OK',
    '400':'Bad Request',
    '401':'Unauthorized',
    '403':'Forbidden',
    '404':'Not Found',
    '405':'Method Not Allowed',
    '411':'Length Required',
    '500':'Internal Server Error',
    '505':'HTTP Version not supported'
}

SERVER_EXPORTS=[
    ['REDIRECT_STATUS',HTTP_VERSION_SUPPORT],
    ['REMOTE_HOST',DEFAULT_HOST],
    #['SERVER_ADDR', DEFAULT_SERVERADDR],
    #['SERVER_PORT', DEFAULT_SERVERPORT],
    ['GATEWAY_INTERFACE',DEFAULT_CGI],
    ['SERVER_NAME',DEFAULT_SERVERNAME],
    ['SERVER_SOFTWARE',DEFAULT_SERVERSOFTWARE]
]

DEFAULT_CGI={
    'POST': 'php-cgi',
    'GET': 'php-cgi -f',
}