#!/usr/bin/env python
# Static variables
HTTP_VERSION_SUPPORT = 'HTTP/1.1'
# Default host
DEFAULT_HOST='127.0.0.1'
#
DEFAULT_CGI='CGI/1.1'
# Bash export mappings
HTTP_BASH_MAP=[
    ['Host','HTTP_HOST'],
    ['Connection', 'HTTP_CONNECTION'],
    ['Cache-Control', 'HTTP_CACHE_CONTROL'],
    ['User-Agent', ' HTTP_USER_AGENT'],
    ['Accept', 'HTTP_ACCEPT'],
    ['Accept-Encoding', 'HTTP_ACCEPT_ENCODING'],
    ['Accept-Language', 'HTTP_ACCEPT_LANGUAGE'],
    ['Set-Cookie','HTTP_COOKIE'],
    ['X-Powered-By','SERVER_SOFTWARE'],
    ['Cache-Control','HTTP_SESSION_VARS'],
    ['Pragma','HTTP_PRAGMA'],
    ['Content-Type','CONTENT_TYPE'],
    ['Request','QUERY_STRING'],
    ['Referer','HTTP_REFERER'],
    ['Content-Length','CONTENT_LENGTH']
]
#['Expires','HTTP_EXPIRES'],
# Response Codes
RESPONSE_CODES={
    '200':'OK',
    '400':'Bad Request',
    '401':'Unauthorized',
    '403':'Forbidden',
    '404':'Not Found',
    '405':'Method Not Allowed',
    '411':'Length Required',
    '500':'Internal Server Error',
    '505':'HTTP Version not supported'
}

DEFAULT_EXPORTS=[
    ['GATEWAY_INTERFACE',DEFAULT_CGI],
    ['SERVER_PROTOCOL',HTTP_VERSION_SUPPORT],
    ['REDIRECT_STATUS',HTTP_VERSION_SUPPORT],
    ['REMOTE_HOST',DEFAULT_HOST],
    ['HTTP_HOST',DEFAULT_HOST]
]

DEFAULT_CGI_EXECUTABLES={
    'php_post': 'php-cgi',
    'php_get': 'php-cgi -f',
    'py_get': 'python',
    'py_post':'python',
    'sh_get': 'sh',
    'sh_post':'sh'
}