#!/usr/bin/env python
# Static variables
HTTP_VERSION_SUPPORT = 'HTTP/1.1'
# Bash export mappings
HTTP_BASH_MAP=[
        ["Host","HTTP_HOST"], 
        ['Connection', 'HTTP_CONNECTION'],
        ['Cache-Control', 'HTTP_CACHE_CONTROL'],
        ['User-Agent', ' HTTP_USER_AGENT'],
        ['Accept', 'HTTP_ACCEPT'],
        ['Accept-Encoding', 'HTTP_ACCEPT_ENCODING'],
        ['Accept-Language', 'HTTP_ACCEPT_LANGUAGE'],
        ['Set-Cookie','HTTP_COOKIE'],
	['X-Powered-By','SERVER_SOFTWARE'],
	['Set-Cookie','HTTP_COOKIE'],
	['Cache-Control','HTTP_SESSION_VARS'],
	['Pragma','HTTP_PRAGMA'],
	['Content-type','CONTENT_TYPE'],
	['Expires','HTTP_EXPIRES'],
	['Request','QUERY_STRING']

]
# Response Codes
RESPONSE_CODES={
        '200':'OK',
        '400':'Bad Request',
        '401':'Unauthorized',
        '403':'Forbidden',
        '404':'Not Found',
        '405':'Method Not Allowed',
        '411':'Length Required',
        '500':'Internal Server Error',
        '505':'HTTP Version not supported'
        }   

