

body {
        font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
        color: black;
        background: #900C3F;  

      }

.container {
        margin: 170px auto;
        width: 640px;
            }

.login {
        position: relative;
        margin: 0 auto;
        padding: 20px 20px 20px;
        width: 510px;
        background: white;
        border-radius: 9px;
        font-size: 20px;
        font-weight: bold;
        color: #527881;
        text-shadow: 0 1px #e3f1f1;
        text-align: center;


        h1 {
              margin: -20px -20px 21px;
              line-height: 40px;
              font-size: 15px;
              font-weight: bold;
              color: #555;
              text-align: center;
              text-shadow: 0 1px white;
              background: #f3f3f3;
              border-bottom: 1px solid #cfcfcf;
              border-radius: 3px 3px 0 0;

            }

        p.submit { text-align: center; }

}

.login span{
           display:inline-block;
          width: 140px;
          min-width: 140px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  outline: 3px solid #eff4f7;
  
}

input[type=submit] {
  padding: 0 30px;
  height: 39px;
  font-size: 18px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 30px;
  margin: 5px;
  
}
